<ion-view view-title="Cats">

  <ion-nav-buttons side="right">
    <i class="icon ion-refresh header-refresh-button" ng-click="loadMoreCats(true)"></i>
  </ion-nav-buttons>

  <ion-content>

    <div class="cat-galley">
      <div class="bounce-in cat-card"
           ng-repeat="cat in cats"
           href="#/tab/chats/{{ cat.id }}">

        <img ng-src="{{ cat.url }}" ng-click="openModal(cat)">

      </div>
    </div>

    <ion-infinite-scroll
            on-infinite="loadMoreCats()"
            distance="5%">
    </ion-infinite-scroll>

    <script id="cat-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-pane class="transparent">
          <img ng-src="{{ selectedCat.url }}" class="fullscreen-image"/>
        </ion-pane>
      </div>
    </script>

  </ion-content>
</ion-view>
