<ion-view view-title="Cat Itzi">
  <ion-content>

    <!-- Home -->
    <div class="list card animated bounceInUp">
      <div class="item item-divider item-remove-animate bounce-in">For youu!</div>
      <div class="item item-body">
        {{ message }}
      </div>
    </div>
    <div class="list card animated bounceInUp">
      <div class="item item-divider item-remove-animate bounce-in">Gatitos</div>
      <div class="item item-body">
        Ver gatitos randmon con tu app favorita! xD
      </div>
    </div>
    <div class="list card animated bounceInUp">
      <div class="item item-divider">Citas</div>
      <div class="item item-body">
        Tambi&eacute;n podr&aacute;s ver citas random!
      </div>
    </div>

  </ion-content>
</ion-view>
