<gooey-tabs class="tabs-icon-top tabs-color-active-positive">

    <div style="position: absolute;left: -8em">
        left
    </div>

    <div style="position: absolute;left: 6em">
        Right
    </div>

    <!-- Dashboard Tab -->
    <gooey-tab title="Status" icon-on="ion-home" icon-off="ion-home" href="#/tab/dash">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </gooey-tab>

    <!-- Chats Tab -->
    <gooey-tab title="Chats" icon-on="ion-social-octocat" icon-off="ion-social-octocat" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </gooey-tab>

    <!-- Account Tab -->
    <gooey-tab title="Account" icon-on="ion-quote" icon-off="ion-quote" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </gooey-tab>

</gooey-tabs>
